{
    "passport": {
        "host": "{{ heimdall_passport.host }}",
        "backend": "{{ heimdall_passport.backend }}"
    },

    "services": {
{% for service in heimdall_services %}
        "{{ service.name }}": {
            "host": "{{ service.host }}",
            "backend": "{{ service.backend }}"
        }{% if not loop.last %},{% endif %}

{% endfor %}
    }
}
